<%- include('partials/header') %>

<h1>Produtos</h1>

<form action="<%= edit ? '/update/' + edit.id : '/add' %>" method="POST">
    <input type="text" name="nome" placeholder="Nome" value="<%= edit ? edit.nome : '' %>" required>
    <input type="number" name="preco" placeholder="Preço" value="<%= edit ? edit.preco : '' %>" required>
    <button><%= edit ? 'Atualizar' : 'Adicionar' %></button>
</form>

<hr>

<ul>
<% produtos.forEach(p => { %>
    <li>
        <%= p.nome %> - R$ <%= p.preco %>
        <a href="/delete/<%= p.id %>">Excluir</a>
        <a href="/edit/<%= p.id %>">Editar</a>
    </li>
<% }) %>
</ul>

<%- include('partials/footer') %>
